<div class="{{if @editor.document 'ckeditor-document'}}" ...attributes>
  <div
    class="{{if @editor.document 'ckeditor-document-toolbar'}}"
    {{did-insert this.setupToolbar}}>
  </div>
  <div class="{{if @editor.document 'ckeditor-document-editable'}}">
    <div
      {{did-insert this.createEditor}}
      {{did-update this.watch @disabled}}
      {{will-destroy this.cleanUp}}
    ></div>
  </div>
</div>
