<div class="{{if @editor.document 'ckeditor-document'}}" ...attributes>
  <div
    class="{{if @editor.document 'ckeditor-document-toolbar'}}"
    {{did-insert this.setupToolbar}}>
  </div>
  <div class="{{if @editor.document 'ckeditor-document-editable'}}">
    <div
      {{did-insert (fn this.createEditor)}}
      {{did-update this.disable @disabled}}
      {{will-destroy (fn this.cleanUp)}}
    ></div>
  </div>
</div>
