<div class="container w-full mx-auto pt-10">
  {{#each this.editors as |editor|}}
    <div class="pb-10">
      <div>{{editor.type}}</div>
      <div class="flex">
        <div class="width-1/2 mr-5">
          <CKEditor @editor={{editor.type}} @options={{editor.options}} @value={{editor.value}} @onInput={{action (mut editor.value)}} />
        </div>
        <div class="width-1/2">
          {{{editor.value}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
