<div class="container w-full mx-auto pt-10">
  {{#each this.editors as |editor|}}
    <div class="pb-10">
      <div>{{editor.name}}</div>
      <div class="flex">
        <div class="width-1/2 mr-5">
          <CKEditor
            @editor={{editor.editor}}
            @value={{editor.value}}
            @options={{editor.options}}
            @onInput={{action (mut editor.value)}}
            @onReady={{editor.onReady}}
          />
        </div>
        <div class="width-1/2">
          {{{editor.value}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
